@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/proggy-clean');


// Define fonts for body and headers
$body-font: "Archivo", "Helvetica", "sans-serif";
$headers-font: "Archivo", "Helvetica", "sans-serif";


// DEFAULT FONTS
body {

  h1,h2,h3 {
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  p {
    font-family: 'ProggyCleanTTSZ', sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  span {
    font-family: 'ProggyCleanTT', sans-serif;
  }
  a {
    font-family: 'ProggyCleanTT', sans-serif;
  }
  .btn {
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .form-control {
    font-family: 'ProggyCleanTT', sans-serif;
    font-size: 20px;
  }
  .alert {
    font-family: 'ProggyCleanTT', sans-serif;
    font-size: 20px;
  }
}
