<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cristian Manolache - Full Stack Developer</title>
  <!-- Add your CSS and external dependencies here -->
</head>
<body>

<div class="container-fluid container-main">
  <div class="row">
    <div class="col-md-4 col-xxl-3">
      <div class="card mb-3 gaming-border">
        <div class="card-body">
          <!-- Close icon -->
          <i class="fas fa-times xicon"></i>
          <!-- Profile image -->
          <div class="imgcontainer">
            <img src="https://res.cloudinary.com/dg9mc7ach/image/upload/v1712364529/48679090_bjd1jx.jpg" alt="Profile Image" class="img-me">
          </div>
          <!-- About me section -->
          <div class="aboutme">
            <p class="card-text">
              🖥️ Hello! I'm Cristian. I used to be a professional chef, and now I've switched gears to become a web developer. Just like in cooking, where I loved making amazing meals, I now enjoy building great websites and apps. I've spent over ten years in kitchens, paying close attention to the little details that make food special. I'm bringing that same care and dedication to web development. After going through an in-depth full-stack web development program at Le Wagon, especially focusing on Ruby on Rails, I'm ready to apply what I've learned and start creating amazing web-applications.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xxl-9">
      <div class="card gaming-border">
        <div class="card-body">
          <!-- Close icon -->
          <i class="fas fa-times xicon"></i>
          <!-- Projects -->
          <div class="projects">
            <div class="card bestvetcard">
              <img src="https://res.cloudinary.com/dg9mc7ach/image/upload/v1712371653/bestvettransparent_h4xgdb.png" alt="Project Image" id="bestvet">
              <p>A platform designed to streamline how pet owners book vet appointments. I applied HTML, CSS, Bootstrap, JavaScript, and jQuery to create a responsive and intuitive interface, while Ruby on Rails and MySQL managed the backend processes, all deployed via Heroku.</p>
              <a href="http://www.bestvet.me" target="_blank">
                <i class="fas fa-play-circle live-demo-link"></i> Live Demo
              </a>
            </div>
            <div class="card bestvetcard">
              <img src="https://res.cloudinary.com/dg9mc7ach/image/upload/v1712374994/bestsittertransparent_jizcgn.png" alt="Project Image" id="bestsitter">
              <p>Similar to Best Vet, this service connects pet owners with reliable pet sitters. Utilizing the same stack, I focused on building an easy-to-navigate site that simplifies the pet sitting booking process.</p>
              <a href="https://github.com/CristianManolache/Best-Pet-Sitter" target="_blank">
                <i class="fas fa-play-circle live-demo-link"></i> Live Demo
              </a>
            </div>
          </div>
          <!-- Languages and tools section -->
          <img align="left" alt="Linux" width="50px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
          <img align="left" alt="Ruby" width="50px" style="padding-right:10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/800px-Ruby_logo.svg.png" />
          <img align="left" alt="Rails" width="50px" style="padding-right:10px;" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" />
          <img align="left" alt="HTML" width="50px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" />
          <img align="left" alt="CSS" width="50px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" />
          <img align="left" alt="JavaScript" width="30px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
          <img align="left" alt="Jquery" width="50px" style="padding-right:10px;" src="https://cdn.iconscout.com/icon/free/png-256/free-jquery-10-1175155.png" />
          <img align="left" alt="GitHub" width="50px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
          <img align="left" alt="Bash" width="50px" style="padding-right:10px;" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" />
          <img align="left" alt="Heroku" width="50px" style="padding-right:10px;" src="https://www.svgrepo.com/show/303683/heroku-logo.svg" />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
