.container-fluid {
  padding: 0;
}

.navbar {
  width: 100%;
  justify-content: space-between;
  background: #E8E8E8;
  padding: 0 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  height: 90px;

  .navbar-collapse {
    margin-left: auto;

    .nav-item a {
      color: black;
      text-decoration: none;
      font-size: 30px;
      padding: 0 50px;
      letter-spacing: 3px;
      transition: color 0.2s;

      &:hover {
        color: #4FA3AB;
        font-weight: bold;
      }

      &.active {
        color: #FBB03B;
      }
    }
  }

  &-brand img {
    width: 160px;
    margin-left: 100px;
  }
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .navbar {
    margin-bottom: 30px;
    height: auto;
  }

  .navbar-collapse {
    position: absolute;
    top: 110px; /* Adjust this according to your design */
    right: 0;
    background-color: #E8E8E8;
    padding: 20px;
    border-bottom: 1px solid black;
    z-index: 1000;

    .nav-item a {
      padding: 10px 0;
      font-size: 25px;
    }
  }

  .navbar-brand img {
    width: 160px;
  }
}
